html, body {
  overflow: hidden;
  background: #303030;
  color: #f0f0f0;
}

.game-canvas-container {
  text-align: center;
}

.game-canvas-container canvas {
  margin-top: 50vh;
  transform: translateY(-50%);
  background: #0c1318;
}

#game-scene {
  text-align: center;
}
#game-canvas {
  margin-top: 50vh;
  transform: translateY(-50%);
}
